# File extensions
*~
*#*#*
*.d
*.so
*.pcm
*.png
*.ps
*.eps
*.pdf
.nfs*
*.root
*.root*
*_-1_0_-1
*_0_-1
Tmp*
*.log

# Data files
list.*
*.dat
t_bin_interval*

# Directories
__pycache__
build


# Sym link
worksim
OUTPUTS
OUTPUT
data
simc_gfortran

$HOME
