# File extensions
*~
*#*#*
*.d
*.so
*.pcm
*.png
*.ps
*.eps
*.pdf
.nfs*
*.root
*.root*
*_-1_0_-1
*_0_-1
Tmp*

# Data files
list.*
*.dat

# Directories
__pycache__
build


# Sym link
worksim
OUTPUTS
OUTPUT
data
simc_gfortran

$HOME
